/* 02-04-2023 by khin sokha */
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}
h3 {
    font-weight: normal;
    text-align: center;
}

/* button backend edit page */

  .card {
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    max-width: 260px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s all ease-in-out;
    border: 1px solid #eeeeee;
  }
  .card .btncreate{
     background-color: #29C1F4;
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    padding: 30px 10px;
    color: #ffffff;
  }
  .card .btmlist{
       padding: 30px 10px;
     background-color: #117fa3;
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .card .icon {
    background-color: #000000;
    color: #ffffff;
    font-size: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 0px 12px -4px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .card .text {
    background-color: #003B67;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .card .badge {
    position: absolute;
    color: #003B67;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 6px 6px #E0E0E0;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #000000;
    top: -10px;
    left: -10px;
    z-index: 2;
  }
  .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .card:hover .text {
    background-color: #29C1F4;
    background-image: radial-gradient(#96e1fa, #2ac1f4);
    color: #000000;
  }
 











