* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #f7f7f7;
}
.header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
/* form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
} */
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
    float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
/* dashboard */
.link-act {
	background-color: #f9f9f9 !important;
	text-align: center;
	border-radius: 10px;
	padding: 9px 0px 30px !important;
  }
  /* .form {
    text-align: center;
    padding: 40px !important;
} */
  .badge {
	  position: absolute;
	  color: #003B67;
	  background-color: #ffffff;
	  box-shadow: inset 0px 0px 6px 6px #e0e0e0;
	  font-weight: bold;
	  width: 35px;
	  height: 35px;
	  border-radius: 50%;
	  padding: 5px;
	  font-size: 20px;
	  box-sizing: border-box;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  border: 1.5px solid #000000;
	  top: -10px;
	  left: 7px;
	  z-index: 2;
  }