p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ul,
ol,
strong,
body {
  font-family: 'Battambang', cursive !important;
}

/* Clearfix */
.cf:after,
.cf:before {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* menu */
.navbar ul li a {
  padding-top: 20px !important;
}

.navbar .nav {
  padding-top: 7px;
}

a.menu {
  font-size: 18px;
  letter-spacing: 0.1rem;
}

.book_menu:hover .menu_all {
  position: relative;
  visibility: visible;
  opacity: 1;
  top: 12px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

}

.menu_all {
  position: absolute;
  top: 20px;
  visibility: hidden;
  opacity: 0;
  margin: auto 0;
}

.menu_all .row {
  border: 1px solid rgb(219, 95, 12);
  height: auto;
  padding: 30px;
  margin: 0px 26%;
  border-radius: 10px;
  background: #f2f2f2;
}

.list_food ol li {
  font-size: 22px;
  line-height: 31px;
  list-style: circle;
}

ul.restaurant-filter li a {
  font-size: 18px;
}

/* our_team by Nann*/


.our-team {
  padding: 20px 15px 30px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
}

.our-team .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  transition: all 0.5s ease 0s;
}

.our-team:hover .pic {
  background: rgb(219, 95, 12);
  border-radius: 50%;
}

.pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.our-team .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #2e282a;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}

.our-team .post {
  display: block;
  font-size: 15px;
  color: rgb(219, 95, 12);
  text-transform: capitalize;
  margin-bottom: 15px;
}

.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.our-team .social li {
  display: inline-block;
  margin-right: 5px;
}

.our-team .social li a {
  padding: 0 !important;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: rgb(219, 95, 12);
  border: 1px solid rgb(219, 95, 12);
  transition: all 0.5s ease 0s;
}

.our-team:hover .social li a {
  background: rgb(219, 95, 12);
  color: #fff;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

/* blog cover page blog */
/* .main_cover_page {
  background-image: url('..//assets/img/demo/bg/banana_desert.jpg');
} */

.main_cover_page {
  background-image: url('../../assets/img/demo/bg/COVER_page.png') !important;
  min-height: 428px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .page_cover {
  background-image: url('../../assets/img/LOGO_Khfood.png') !important;
} */

.main_cover_page:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.7);
  min-height: 428px;
  height: 428px;
}

/* tnot */
.main_cover_page,
.blog2,
.blog3,
.blog4,
.blog5,
.blog6,
.blog7,
.blog8 {
  background-size: cover;
  background-repeat: no-repeat;
}

.blog2 {
  background-image: url('../../assets/img/demo/dessert/10.jpg') !important;
  /* min-height: 428px;
    display: flex;
    align-items: center;
    justify-content: center;  */
}

.blog3 {
  background-image: url('../../assets/img/demo/bg/bg01.jpg') !important;
}

.blog4 {
  background-image: url('../../assets/img/demo/bg/banana_desert.jpg') !important;
}

.blog5 {
  background-image: url('../../assets/img/demo/bg/bg10.jpg') !important;
}

.blog6 {
  background-image: url('../../assets/img/demo/bg/14.jpg') !important;
}

.blog7 {
  background-image: url('../../assets/img/demo/bg/12.jpg') !important;
}

.blog8 {
  background-image: url('../../assets/img/demo/bg/22.jpg') !important;
}

/* page video by sokha */
.food_video .card img {
  width: 350px;
  height: auto;
}

.food_video .card {
  /* position: absolute; */
  /* border: 1px solid grey; */
  box-shadow: 1px 1px 1px 1px red;
}

.food_video .thumb-v {
  display: block;
  position: relative;
  overflow: hidden;
}

.food_video .thumb-v img {
  width: 100%;
  height: 200px;
}

.food_video .thumb-v .card-body {
  padding: 12px;
}

.food_video .card {
  box-shadow: 0px 0px 6px 2px #bbbbbb;
  border-radius: 5px;
  padding: 12px;
}

.food_video .card .card-text {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-title {
  font-size: 20px;
  margin: 12px 0;
}

.slide_to_blog p,
.main_food_home p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card_video {
  margin-top: 20px;
}

.thumb-v video.video-stream.html5-main-video {
  left: 0px !important;
  width: 267px;
  height: 150px;
  left: 0px;
  top: 0px;
}

#vd_utube video.video-stream.html5-main-video {
  left: 0px !important;
}

.bloc-cms p {
  color: #fff;
}

.bloc-cms img {
  width: 335px;
  margin-bottom: 12px;
}

a.toabout {
  font-size: 16px;
  color: rgb(219, 95, 12);
}

.ingredients ol li {
  font-size: 18px;
  color: #464646;
}

/* 
.social ul a i {
  font-family: "Font Awesome 5 Brands";
} */
.socail ul li {
  padding: 0 8px 0px;
}

.socail ul {
  display: flex;
}

.socail ul li img {
  width: 50px;
  height: 50px;
}

.socail ul li img:hover {
  transform: scale(1.2);
  transition: ease-in;
  border-radius: 70%;
  animation: bounce 3s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.techno_lang {
  font-size: 20px;
  border: 1px solid rgb(219, 95, 12);
  height: auto;
  padding: 30px;
  border-radius: 10px;
  background: #f2f2f2;
}

.lang_list {
  height: 0px;
  display: block;
  overflow: hidden;
}

.techno_lang:hover
.lang_list {
  height: 100%;
  display: block;
}

.techno_lang ul li {
  font-size: 18px;
}

.lang_list ul li {
  padding: 4px 0 4px 35px;
}

.lang_list ul li i {
  padding-right: 12px;
}

.story-description {
  padding: 100px 40px 80px 0;
}

.contact-info span i {
  font-size: 40px;
  color: rgb(255, 102, 0);
  margin-bottom: 12px;
}

.contact-info .card-info {
  padding: 20px 0px;
}

.contact-info {
  border: 1px solid rgb(219, 95, 12);
  height: auto;
  padding: 30px;
  border-radius: 10px;
  background: #f2f2f2;
}

.form_sms {
  width: 100%;
  margin: 10px 12px;
  border-radius: 5px;
  padding: 4px;
}

.feedback-sms {
  padding: 25px;
  width: 96%;
  margin: 27px;
}

.btn-food {
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px 70px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  border: 2px solid #e9e9e9;
  background-color: rgb(255 102 0);
}

.drink-item input {
    margin-right: 12px;
}









