@charset "UTF-8";
/*------------------------------------------------------------------
[1. Body]
--------------------------------------------------------------------*/
html,
body,
#site-wrapper {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}
p, a, h1, h2, h3, h4, h5, h6, span, li, ul, ol, strong {
  font-family: 'Battambang', cursive !important;
}

* {
  font-family: 'Battambang', Arial, Helvetica, sans-serif;
}
*:focus {
  outline: none !important;
}

/*------------------------------------------------------------------
[2. Predefined CSS]
--------------------------------------------------------------------*/
.padd-100 {
  padding: 100px 0;
}

.padd-80 {
  padding: 80px 0;
}

.padd-50 {
  padding: 50px 0;
}

.padd-top-120 {
  padding-top: 120px;
}

.padd-top-100 {
  padding-top: 100px;
}

.padd-top-50 {
  padding-top: 50px;
}

.padd-top-30 {
  padding-top: 30px;
}

.padd-bottom-100 {
  padding-bottom: 100px;
}

.no-padd {
  padding: 0 !important;
}

.no-padd-top {
  padding-top: 0 !important;
}

.section-suptitle {
  font-size: 30px;
  color: rgb(219, 95, 12);
  letter-spacing: 1px;
  display: block;
  line-height: 32px;
}

.section-title,
.pagination {
  margin: 14px 0 34px;
  line-height: 42px;
  padding-bottom: 35px;
  position: relative;
  font-size: 40px;
  font-family: 'Battambang', cursive;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section-title:before,
.pagination:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 6px;
  height: 6px;
  background-color: rgb(219, 95, 12);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.section-title:after,
.pagination:after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 1px;
  width: 29px;
  height: 2px;
  background-color: rgb(219, 95, 12);
}
.section-title.sep-type-2:after,
.pagination.sep-type-2:after {
  width: 78px;
  height: 2px;
  left: 50%;
  margin-left: -39px;
  z-index: 0;
}
.section-title.sep-type-2:before,
.pagination.sep-type-2:before {
  z-index: 1;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  content: "●";
  color: rgb(219, 95, 12);
  background: #fff;
  line-height: 6px;
  font-size: 12px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 10px;
  bottom: -3px;
  padding-left: 6px;
  text-align: left;
}

::selection {
  background-color: rgb(219, 95, 12);
  color: #fff;
}

.text-center {
  text-align: center;
}

.white-font {
  color: #fff;
}

.input-error {
  border-color: red !important;
  color: red !important;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

.transition {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

p, ul {
  margin: 0;
}

p {
  color: #464646;
  font-size: 18px;
  line-height: 26px;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.site-loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.88);
  z-index: 999999;
}

.inputError {
  border-color: #ff0000 !important;
}

.overlay-f {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
}

.mail-head {
  font-weight: bold;
}

.mail-message p {
  color: rgb(219, 95, 12);
  text-align: center;
}

.loading,
.loading::before,
.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(207, 155, 103, 0.1);
  border-left-color: rgba(207, 155, 103, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;

}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-dots > li button {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.is-sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.95) !important;
}

.grid-sizer {
  width: 33.33%;
}

.section-resume {
  max-width: 800px;
  text-align: center;
  padding: 0 30px;
  line-height: 26px;
  margin: -7px auto 50px;
}
.section-resume span, .section-resume a {
  color: rgb(219, 95, 12);
  font-weight: bold;
}

/*------------------------------------------------------------------
[3. Header / #site-header]
--------------------------------------------------------------------*/
#site-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
}

.nav-top {
  height: 50px;
  background-color: #000;
}
.nav-top ul li {
  color: #fff;
  font-size: 12px;
  float: left;
  margin-right: 47px;
  height: 50px;
  line-height: 50px;
}
.nav-top ul li i {
  color: rgb(219, 95, 12);
  margin-right: 10px;
  font-size: 14px;
}
.nav-top ul li a {
  color: #fff;
  font-size: 12px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-top ul li a:hover {
  color: rgb(219, 95, 12);
}
.nav-top ul li.social-bloc {
  float: right;
  margin-right: 0;
}
.nav-top ul li.social-bloc a {
  display: inline-block;
  margin-left: 20px;
}
.nav-top ul li.social-bloc a i {
  font-size: 17px;
  color: #5a5a5a;
  margin-right: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-top ul li.social-bloc a:hover i {
  color: rgb(219, 95, 12);
}

.navbar {
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.navbar .logo {
  float: left;
  margin-top: 17px;
  margin-left: 15px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.navbar .nav {
  float: right;
  padding-top: 29px;
  text-transform: uppercase;
 -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.navbar .nav a {
  font-size: 18px;
  color: #fff;
  padding: 5px 0 0 0;
  margin-left: 33px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}
.navbar .nav a:hover {
  color: rgb(219, 95, 12);
  background: none;
}
.navbar .nav a:hover:before {
  display: block;
}
.navbar .nav a:hover:after {
  width: 100%;
  right: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.navbar .nav a.active {
  color: rgb(219, 95, 12);
}
.navbar .nav a.active:before {
  display: block;
}
.navbar .nav a.active:after {
  width: 100%;
  right: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.navbar .nav a:before {
  content: "";
  position: absolute;
  left: 1px;
  bottom: 20px;
  width: 6px;
  height: 6px;
  background-color: rgb(219, 95, 12);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: none;
}
.navbar .nav a:after {
  content: "";
  position: absolute;
  left: 11px;
  bottom: 22px;
  width: 0;
  height: 2px;
  background-color: rgb(219, 95, 12);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/*------------------------------------------------------------------
[4. Main Slide / #main-slider]
--------------------------------------------------------------------*/
#main-slider {
  background: url(../../assets/img/demo/bg/COVER_page.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  position: relative;
}
#main-slider:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
}

.section-slogan {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  z-index: 1;
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
}
.section-slogan img {
  max-width: 338px;
  margin-bottom: 20px;
}
.section-slogan h2 {
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 1px;
  text-shadow: 3px 3px 3px #000;
}
.section-slogan h3 {
  font-size: 22px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}

/*------------------------------------------------------------------
[5. Section Specials offers / #special-offers]
--------------------------------------------------------------------*/
.offer-left {
  padding-top: 15px;
}

.offer-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.offer-item:last-child {
  margin-bottom: 0;
}
.offer-item img {
  width: 34%;
  float: left;
  padding: 10px;
  background: #f2f2f2;
}
.offer-item div {
  width: 60%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.offer-item div h3 {
  font-size: 20px;
  color: rgb(219, 95, 12);
  margin: 9px 0 12px;
  font-weight: 400;
  letter-spacing: .5px;
}
.offer-item div p {
  color: #6b6b6b;
}
.offer-item .offer-price {
  position: absolute;
  right: 292px;
  top: 83%;
  display: block;
  width: 58px;
  height: 58px;
  line-height: 59px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000;
  font-size: 18px;
  text-align: center;
  letter-spacing: .5px;
}

.offer-right {
  position: relative;
}
.offer-right img {
  display: block;
  width: 100%;
}
.offer-right a {
  display: block;
  width: 154px;
  height: 154px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  -moz-border-radius: 92px;
  -webkit-border-radius: 92px;
  border-radius: 92px;
  border: 2px solid rgb(219, 95, 12);
  text-align: center;
  color: rgb(219, 95, 12);
  font-size: 24px;
  padding-top: 28px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.offer-right a span {
  display: block;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  padding: 0 30px;
  line-height: 30px;
  letter-spacing: .5px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.offer-right a:hover {
  background: rgb(219, 95, 12);
  color: #fff;
}
.offer-right a:hover span {
  color: #fff;
}

/*------------------------------------------------------------------
[6. Section Reservation / #reservation]
--------------------------------------------------------------------*/
.form-reservation {
  background: #000;
  padding-left: 50px;
  padding-right: 50px;
}
.form-reservation .column {
  overflow: hidden;
  margin-bottom: 16px;
}
.form-reservation .column > span {
  float: left;
  width: 50%;
  padding-right: 8px;
  position: relative;
}
.form-reservation .column > span i {
  color: #000;
  position: absolute;
  right: 30px;
  top: 18px;
  font-size: 16px;
}
.form-reservation .column > span i.fa-clock-o {
  font-size: 20px;
  right: 21px;
  top: 16px;
}
.form-reservation .column > span input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 0;
  width: 100%;
  padding: 14px 25px;
  font-size: 16px;
  color: #000;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.form-reservation .column > span input:focus {
  padding-left: 30px;
}
.form-reservation .column > span:last-child {
  float: right;
  padding-right: 0;
  padding-left: 8px;
}
.form-reservation .column textarea {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 0;
  width: 100%;
  height: 144px;
  padding: 20px 25px;
  font-size: 16px;
  color: #000;
  resize: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.form-reservation .column textarea:focus {
  padding-left: 30px;
}
.form-reservation .submit-btn {
  padding-top: 26px;
  text-align: center;
}
.form-reservation .submit-btn button {
  padding: 20px 80px;
  line-height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #cf9a67;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border: 0;
  letter-spacing: 1px;
  position: relative;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.form-reservation .submit-btn button:hover {
  color: #cf9a67;
  background-color: #eaeaea;
}

/*------------------------------------------------------------------
[7. Section Delas / #delas]
--------------------------------------------------------------------*/
#delas {
  background: url(../../assets/img/demo/bg/02.jpg) center -2px no-repeat;
}

.delas-carousel:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 265px;
  background: #fff;
  z-index: 10;
}
.delas-carousel .delas-item {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
}
.delas-carousel .delas-item:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 122px;
  background: #eaeaea;
  overflow: hidden;
}
.delas-carousel .delas-item img {
  display: inline-block;
  margin-bottom: 30px;
}
.delas-carousel .delas-item h4 {
  font-size: 20px;
  text-align: center;
  margin: 0 0 10px;
  text-align: center;
  color: #000;
  font-weight: 400;
  padding: 0 100px;
  letter-spacing: 0.5px;
}
.delas-carousel .delas-item p {
  padding: 0 130px;
  text-align: center;
  margin-bottom: 10px;
}
.delas-carousel .delas-item span {
  font-size: 20px;
  color: rgb(219, 95, 12);
  text-align: center;
  letter-spacing: 0.5px;
}
.delas-carousel .slick-prev, .delas-carousel .slick-next {
  display: none !important;
}
.delas-carousel .slick-dots {
  text-align: center;
  padding-top: 100px;
}
.delas-carousel .slick-dots > li {
  display: inline-block;
  padding: 0 5px;
}
.delas-carousel .slick-dots > li button {
  background: #fff;
  width: 10px;
  height: 10px;
  border: 2px solid #eaeaea;
  overflow: hidden;
  text-indent: -200px;
  padding: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.delas-carousel .slick-dots > li button:hover {
  background: rgb(219, 95, 12);
  border-color: rgb(219, 95, 12);
}
.delas-carousel .slick-dots > li.slick-active button {
  background: rgb(219, 95, 12);
  border-color: rgb(219, 95, 12);
}

/*------------------------------------------------------------------
[8. Section Restaurant Menu / #restaurant-menu]
--------------------------------------------------------------------*/
#restaurant-menu {
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-width: 1px 0;
}
#restaurant-menu .section-title.sep-type-2:before {
  background: #fafafa;
}

.restaurant-filter {
  text-align: center;
  margin-bottom: 50px;
}
.restaurant-filter li {
  display: inline-block;
  margin-right: 26px;
}
.restaurant-filter li:last-child {
  margin-right: 0;
}
.restaurant-filter li a {
  min-width: 170px;
  padding: 0 20px;
  height: 46px;
  line-height: 44px;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #eaeaea;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #777777;
  letter-spacing: .5px;
  position: relative;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.restaurant-filter li a.current, .restaurant-filter li a:hover {
  background: rgb(219, 95, 12);
  color: #fff;
  border-color: rgb(219, 95, 12);
}
.restaurant-filter li a.current {
  cursor: default;
}

.restaurant-list {
  overflow: hidden;
}
.restaurant-list:after {
  content: '';
  display: block;
  clear: both;
}
.restaurant-list a {
  margin-bottom: 30px;
  display: block;
  position: relative;
  overflow: hidden;
}
.restaurant-list a img {
  width: 100%;
  position: relative;
  z-index: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 3s;
  -o-transition-duration: 3s;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
}
.restaurant-list a:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../../assets/img/btn_plus.png) no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.restaurant-list a:hover:before, .restaurant-list a:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.restaurant-list a:hover:after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.restaurant-list a:hover img {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.restaurant-list > div {
  padding-bottom: 30px;
}
.restaurant-list > div div {
  border: 1px solid #eaeaea;
  padding-bottom: 31px;
  background: #fff;
}
.restaurant-list > div div span {
  display: block;
  text-align: center;
  font-size: 24px;
  color: rgb(219, 95, 12);
  margin-bottom: 4px;
  letter-spacing: .5px;
}
.restaurant-list > div div h3 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-align: center;
  letter-spacing: .5px;
  margin: 0;
}

/*------------------------------------------------------------------
[9. Section Testimonials / #testimonials]
--------------------------------------------------------------------*/
#testimonials {
  background-size: cover;
  position: relative;
}
#testimonials .section-suptitle {
  position: relative;
  z-index: 1;
}
#testimonials:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 0;
}
#testimonials .section-title.sep-type-2::before {
  background: #000;
}

.testimonial-list {
  position: relative;
  z-index: 1;
}
.testimonial-list li {
  width: 33.33%;
  float: left;
  margin: 0 15px;
}
.testimonial-list li > div {
  background: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 40px;
  margin-bottom: 32px;
  position: relative;
}
.testimonial-list li > div p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  padding: 30px 0;
  text-align: center;
  position: relative;
  margin-bottom: 22px;
}
.testimonial-list li > div p:before {
  content: "“";
  font-size: 58px;
  left: 50%;
  margin-left: -19px;
  position: absolute;
  top: 0;
  line-height: 58px;
  height: 20px;
}
.testimonial-list li > div p:after {
  content: "“";
  font-size: 58px;
  left: 50%;
  margin-left: -19px;
  position: absolute;
  bottom: 0;
  line-height: 58px;
  height: 20px;
  translate: rotate(180deg);
  -webkit-translate: rotate(180deg);
  -o-translate: rotate(180deg);
  -ms-translate: rotate(180deg);
}
.testimonial-list li > div span {
  display: block;
  text-align: center;
  font-style: 14px;
  font-weight: bold;
  color: rgb(219, 95, 12);
}
.testimonial-list li > div:after {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 12px 13px 0 13px;
  position: absolute;
  left: 50%;
  bottom: -12px;
  z-index: 8;
  margin-left: -13px;
  border-color: #fff transparent transparent transparent;
}
.testimonial-list li > img {
  width: 74px;
  margin: 0 auto;
  display: block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial-list .slick-prev,
.testimonial-list .slick-next {
  display: none !important;
}

/*------------------------------------------------------------------
[10. Section Events / #events]
--------------------------------------------------------------------*/
#events {
  background: url(../../assets/img/demo/bg/04.png) 0 bottom no-repeat #fafafa;
}
#events .section-title.sep-type-2:before {
  background: #fafafa;
}

.event-carousel {
  position: relative;
}
.event-carousel:before {
  content: "";
  position: absolute;
  right: -200px;
  bottom: -24px;
  background: url(../../assets/img/demo/bg/05.png) 0 0 no-repeat;
  width: 358px;
  height: 214px;
  z-index: 0;
}
.event-carousel .event-item {
  float: left;
  width: 33.33%;
  margin: 0 15px;
}
.event-carousel .event-item .slick-list {
  position: relative;
  z-index: 1;
}
.event-carousel .event-item img {
  display: block;
  border: 1px solid #eaeaea;
  border-width: 1px 1px 0;
}
.event-carousel .event-item div {
  border: 1px solid #eaeaea;
  border-width: 0 1px 1px;
  background: #fff;
  padding: 30px;
  min-height: 270px;
}
.event-carousel .event-item div h3 {
  font-size: 22px;
  color: #000;
  letter-spacing: .5px;
  margin: 0 0 12px;
  font-weight: 400;
}
.event-carousel .event-item div span {
  display: block;
  position: relative;
  color: #6b6b6b;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 18px;
  padding-bottom: 20px;
  line-height: 21px;
}
.event-carousel .event-item div span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 6px;
  height: 6px;
  background-color: rgb(219, 95, 12);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.event-carousel .event-item div span:after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 1px;
  width: 29px;
  height: 2px;
  background-color: rgb(219, 95, 12);
}
.event-carousel .event-item div p {
  font-size: 16px;
  color: #6b6b6b;
  margin-bottom: 20px;
}
.event-carousel .event-item div a {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(219, 95, 12);
  position: relative;
}
.event-carousel .event-item div a:before {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  background-color: rgb(219, 95, 12);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.event-carousel .event-item div a:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  width: 0;
  margin-left: 18px;
  margin-top: -1px;
  height: 2px;
  background-color: rgb(219, 95, 12);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.event-carousel .event-item div a:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  width: 29px;
}
.event-carousel .event-item div a:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.event-carousel .slick-prev, .event-carousel .slick-next {
  display: none !important;
}
.event-carousel .slick-dots {
  text-align: center;
  padding-top: 50px;
}
.event-carousel .slick-dots > li {
  display: inline-block;
  padding: 0 5px;
}
.event-carousel .slick-dots > li button {
  background: #fff;
  width: 10px;
  height: 10px;
  border: 2px solid #eaeaea;
  overflow: hidden;
  text-indent: -200px;
  padding: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.event-carousel .slick-dots > li button:hover {
  background: rgb(219, 95, 12);
  border-color: rgb(219, 95, 12);
}
.event-carousel .slick-dots > li.slick-active button {
  background: rgb(219, 95, 12);
  border-color: rgb(219, 95, 12);
}

/*------------------------------------------------------------------
[11. Section team / #team]
--------------------------------------------------------------------*/
.team-carousel .slick-prev,
.team-carousel .slick-next {
  display: none !important;
}
.team-carousel li {
  float: left;
  width: 25%;
  margin: 0 15px;
}
.team-carousel li > div {
  border: 1px solid #eaeaea;
  text-align: center;
}
.team-carousel li > div > img {
  display: inline-block;
}
.team-carousel li > div > div {
  background: #fafafa;
  padding: 35px 15px;
  border-top: 1px solid #eaeaea;
  min-height: 202px;
}
.team-carousel li > div > div span {
  font-style: italic;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(219, 95, 12);
}
.team-carousel li > div > div h3 {
  text-align: center;
  font-size: 22px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: .5px;
  margin: 0 0 25px;
  padding-bottom: 25px;
  position: relative;
}
.team-carousel li > div > div h3:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  content: "●";
  color: rgb(219, 95, 12);
  background: #fafafa;
  line-height: 6px;
  font-size: 12px;
  height: 10px;
  bottom: -3px;
  padding-left: 6px;
  text-align: left;
}
.team-carousel li > div > div h3:after {
  content: "";
  position: absolute;
  width: 78px;
  height: 2px;
  left: 50%;
  margin-left: -39px;
  z-index: 0;
  bottom: 1px;
  background-color: rgb(219, 95, 12);
}
.team-carousel li > div > div div {
  text-align: center;
}
.team-carousel li > div > div div a {
  display: inline-block;
  margin: 0 10px;
}
.team-carousel li > div > div div a i {
  color: #d8d8d8;
  font-size: 17px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.team-carousel li > div > div div a:hover i {
  color: rgb(219, 95, 12);
}

/*------------------------------------------------------------------
[12. Section vision / #vision]
--------------------------------------------------------------------*/
.fx-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% center;
  background-repeat: repeat-y;
}

#vision {
  position: relative;
}
#vision:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
}

.vision-item {
  position: relative;
}
.vision-item.last-item span:after {
  display: none;
}
.vision-item span {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  text-align: center;
  border: 2px solid #55544f;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 40px;
  color: rgb(219, 95, 12);
  line-height: 130px;
  margin-bottom: 28px;
  position: relative;
  letter-spacing: .5px;
}
.vision-item span:after {
  content: "";
  width: 90px;
  height: 1px;
  border-bottom: 1px dashed #55544f;
  position: absolute;
  right: -129px;
  top: 64px;
}
.vision-item p {
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin: 0;
  letter-spacing: .5px;
}

/*------------------------------------------------------------------
[13. Section From The Menu / #from-menu]
--------------------------------------------------------------------*/
.f-menu-item {
  background: url(../../assets/img/demo/bg/07.jpg) 0 center no-repeat;
}
.f-menu-item > div {
  float: left;
  width: 50%;
}
.f-menu-item .item-left {
  text-align: right;
  padding-right: 35px;
}
.f-menu-item .item-left img {
  display: inline-block;
  max-width: 470px;
  border: 10px solid #f2f2f2;
}
.f-menu-item .item-right {
  padding: 65px 35px 0;
  background: #fff;
}
.f-menu-item .item-right .price {
  display: block;
  font-size: 40px;
  color: rgb(219, 95, 12);
  margin-bottom: 25px;
  line-height: 40px;
  letter-spacing: .5px;
}
.f-menu-item .item-right .price samp {
  color: #6b6b6b;
  font-size: 22px;
  text-decoration: line-through;
  margin-left: 3px;
  line-height: 22px;
}
.f-menu-item .item-right h4 {
  font-size: 22px;
  color: #000;
  margin: 0 0 25px;
  letter-spacing: .5px;
  font-weight: 400;
  line-height: 22px;
}
.f-menu-item .item-right p {
  color: #6b6b6b;
  line-height: 30px;
  margin-bottom: 30px;
}
.f-menu-item .item-right a {
  font-size: 16px;
  color: #6b6b6b;
  border: 2px solid #e9e9e9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 12px 40px;
  display: inline-block;
  position: relative;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.f-menu-item .item-right a:hover {
  color: #fff;
  background-color: rgb(219, 95, 12);
  border-color: rgb(219, 95, 12);
}

#from-menu .slick-prev, #from-menu .slick-next {
  display: none !important;
}
#from-menu .slick-dots {
  text-align: center;
  padding-top: 50px;
  width: 50%;
}
#from-menu .slick-dots > li {
  display: inline-block;
  padding: 0 5px;
}
#from-menu .slick-dots > li button {
  background: #fff;
  width: 10px;
  height: 10px;
  border: 2px solid #eaeaea;
  overflow: hidden;
  text-indent: -200px;
  padding: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#from-menu .slick-dots > li button:hover {
  background: rgb(219, 95, 12);
  border-color: rgb(219, 95, 12);
}
#from-menu .slick-dots > li.slick-active button {
  background: rgb(219, 95, 12);
  border-color: rgb(219, 95, 12);
}

/*------------------------------------------------------------------
[14. Section Contact / #contact]
--------------------------------------------------------------------*/
#maps {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

#contact {
  position: relative;
  padding-top: 100px;
}
#contact .section-title {
  margin-bottom: 25px;
  padding-bottom: 30px;
}

.ctc-item {
  background: #fff;
  border: 10px solid #e4e4e4;
  padding: 40px 25px;
}
.ctc-item .tel {
  font-size: 30px;
  font-weight: 600;
  color: rgb(219, 95, 12);
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.ctc-item .widget {
  margin-bottom: 20px;
  text-align: center;
}
.ctc-item .widget b {
  display: block;
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
}
.ctc-item .widget p {
  font-size: 16px;
  color: #6b6b6b;
  line-height: 25px;
  text-align: center;
}
.ctc-item .widget a {
  font-size: 16px;
  color: #6b6b6b;
}
.ctc-item .widget a:hover {
  color: rgb(219, 95, 12);
}
.ctc-item .widget:last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------------------
[15. Section Newsletter / #newsletter]
--------------------------------------------------------------------*/
#newsletter {
  background: rgb(219, 95, 12);
}
#newsletter h3 {
  font-size: 36px;
  color: #fff;
  letter-spacing: .5px;
  margin: 0;
  font-weight: 400;
}
#newsletter input[type=text],
#newsletter input[type=email] {
  border: 2px solid rgba(255, 255, 255, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  height: 58px;
  line-height: 58px;
  background: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#newsletter input[type=text]:focus,
#newsletter input[type=email]:focus {
  padding-left: 30px;
}
#newsletter input[type=text]::-webkit-input-placeholder,
#newsletter input[type=email]::-webkit-input-placeholder {
  color: #fff;
}
#newsletter input[type=text]:-moz-placeholder,
#newsletter input[type=email]:-moz-placeholder {
  color: #fff;
}
#newsletter input[type=text]:-ms-input-placeholder,
#newsletter input[type=email]:-ms-input-placeholder {
  color: #fff;
}
#newsletter input[type=text]::-moz-placeholder,
#newsletter input[type=email]::-moz-placeholder {
  color: #fff;
}
#newsletter button {
  text-transform: uppercase;
  height: 58px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  line-height: 58px;
  display: block;
  width: 100%;
  text-align: center;
  color: #cf9a67;
  letter-spacing: 1px;
  font-size: 14px;
  border: 0;
  position: relative;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#newsletter button:hover {
  background-color: #212121;
  border-color: #212121;
  color: #fff;
}

/*------------------------------------------------------------------
[16. Section Breadcrumb / #breadcrumb]
--------------------------------------------------------------------*/
#breadcrumb1 {
  min-height: 428px;
  position: relative;
}
#breadcrumb {
  min-height: 428px;
  position: relative;
}
#breadcrumb .section-title {
  margin: 12px 0 15px;
  padding-bottom: 0;
}
#breadcrumb .section-title:after, #breadcrumb .section-title:before {
  display: none;
}
#breadcrumb > div {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  z-index: 1;
}
#breadcrumb:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
#breadcrumb * {
  position: relative;
  z-index: 1;
}
#breadcrumb ul {
  text-align: center;
}
#breadcrumb ul li {
  display: inline-block;
  position: relative;
  margin-right: 25px;
  color: rgb(219, 95, 12);
  text-transform: uppercase;
  font-size: 16px;
}
#breadcrumb ul li + li:before {
  color: #fff;
  content: ">";
  font-size: 13px;
  left: -18px;
  position: absolute;
  top: 3px;
}
#breadcrumb ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
#breadcrumb ul li a:hover {
  color: rgb(219, 95, 12);
}

/*------------------------------------------------------------------
[17. Section Verical Carousel / .vertical-carousel]
--------------------------------------------------------------------*/
.vertical-carousel .menu-item {
  background: #fff;
}
.vertical-carousel .slick-prev, .vertical-carousel .slick-next {
  display: none !important;
}
.vertical-carousel .slick-dots {
  position: absolute;
  right: -20px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-carousel .slick-dots > li {
  display: block;
  margin: 0 0 11px 0;
  height: 10px;
}
.vertical-carousel .slick-dots > li button {
  background: #fff;
  width: 10px;
  height: 10px;
  border: 2px solid #eaeaea;
  overflow: hidden;
  text-indent: -200px;
  padding: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.vertical-carousel .slick-dots > li button:hover {
  background: rgb(219, 95, 12) !important;
  border-color: rgb(219, 95, 12) !important;
}
.vertical-carousel .slick-dots > li.slick-active button {
  background: rgb(219, 95, 12) !important;
  border-color: rgb(219, 95, 12) !important;
}

.drink-item {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.drink-item:before {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 90%;
  height: 1px;
  overflow: hidden;
  border-bottom: 1px dashed #6b6b6b;
  z-index: 0;
  content: "";
}
.drink-item span {
  float: left;
  position: relative;
  z-index: 1;
  font-size: 18px;
  padding-right: 14px;
  background: #fff;
  line-height: 24px;
}
.drink-item p {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 1px;
  line-height: 18px;
}

#drink {
  text-align: center;
}
#drink .col-md-6 {
  margin-bottom: 75px;
}

/*------------------------------------------------------------------
[18. Section Appetizer / #appetizer]
--------------------------------------------------------------------*/
.dark-bg {
  background: #171616;
}
.dark-bg .section-title {
  color: #fff;
}
.dark-bg .section-title:before {
  background: #171616;
}
.dark-bg .section-resume {
  color: #fff;
}
.dark-bg .offer-item div p {
  color: #fff;
}
.dark-bg .offer-item .offer-price {
  color: #fff;
  border: 2px solid #fff;
}
.dark-bg .vertical-carousel .slick-dots > li button,
.dark-bg .menu-item {
  background: #171616;
}

.gray-bg {
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-width: 1px 0;
}
.gray-bg .section-title:before {
  background: #fafafa;
}
.gray-bg .menu-item {
  background: #fafafa;
}
.gray-bg .offer-item .offer-price {
  background: #fff;
}

/*------------------------------------------------------------------
[19. Section Our Story / #our-story]
--------------------------------------------------------------------*/

.story-description p {
  line-height: 30px;
  margin-bottom: 35px;
  text-align: justify;
}

.img-story {
  margin-top: 20px;
  vertical-align: bottom;
}

.service-item {
  min-height: 102px;
  margin-bottom: 60px;
}
.service-item i {
  width: 102px;
  height: 102px;
  line-height: 102px;
  background: #fff;
  border: 1px solid #ebebeb;
  color: rgb(219, 95, 12);
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 15px;
  top: 5pxpx;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.service-item i:before, .service-item i:after {
  font-size: 34px;
}
.service-item i.flaticon-notes::before {
  font-size: 29px;
}
.service-item i.flaticon-percentage::before {
  font-size: 34px;
}
.service-item i.flaticon-drink::before {
  font-size: 35px;
}
.service-item > div {
  padding-left: 130px;
  padding-right: 20px;
}
.service-item > div h4 {
  font-size: 19px;
  margin: 0 0 10px;
  font-weight: normal;
  letter-spacing: .5px;
}

#services {
  padding-bottom: 40px;
}
 
/*------------------------------------------------------------------
[22. Section Apps / #apps]
--------------------------------------------------------------------*/
#apps {
  background: url("../../assets/img/demo/apps/01.png") left top no-repeat;
}

.desc-apps {
  padding-right: 50px;
}
.desc-apps .big-title {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  letter-spacing: .5px;
}
.desc-apps p {
  margin-bottom: 20px;
}
.desc-apps p span {
  color: rgb(219, 95, 12);
}
.desc-apps .link a {
  display: inline-block;
  margin-right: 14px;
}

/*------------------------------------------------------------------
[23. Section Contact-detail / #contact-detail]
--------------------------------------------------------------------*/

/*------------------------------------------------------------------
Section Blog / #blog]
--------------------------------------------------------------------*/
.blog-item {
  margin-bottom: 50px;
  padding-right: 30px;
}

.entry-thumbnail {
  margin-bottom: 40px;
}

.entry-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: .5px;
}

.meta {
  position: relative;
  overflow: hidden;
  padding-bottom: 25px;
  margin-bottom: 18px;
}
.meta li {
  margin-right: 20px;
  float: left;
}
.meta li i {
  color: rgb(219, 95, 12);
  font-size: 15px;
  margin-right: 5px;
}
.meta li span {
  font-weight: 500;
  color: #6b6b6b;
  font-size: 13px;
}
.meta:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 6px;
  height: 6px;
  background-color: rgb(219, 95, 12);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.meta:after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 2px;
  width: 29px;
  height: 2px;
  background-color: rgb(219, 95, 12);
}


.btn-read-more {
  color: #6b6b6b;
  font-size: 16px;
  border: 2px solid #e9e9e9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px 40px;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.btn-read-more:hover {
  color: #fff;
  background-color: rgb(219, 95, 12);
  border-color: rgb(219, 95, 12);
}

.widget-title {
  margin: 0 0 30px;
  line-height: 42px;
  padding-bottom: 25px;
  position: relative;
  font-size: 26px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.widget-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 6px;
  height: 6px;
  background-color: rgb(219, 95, 12);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.widget-title:after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 1px;
  width: 29px;
  height: 2px;
  background-color: rgb(219, 95, 12);
}

#blog .widget {
  margin-bottom: 45px;
}
#blog .widget ul {
  border: 2px solid #e9e9e9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
}
#blog .widget.widget_category li {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 24px;
  position: relative;
}
#blog .widget.widget_category li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
#blog .widget.widget_category li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(219, 95, 12);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
#blog .widget.widget_category li a {
  font-size: 16px;
  color: #6b6b6b;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#blog .widget.widget_category li a:hover {
  color: rgb(219, 95, 12);
}
#blog .widget.widget_category li span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  color: #6b6b6b;
    
}


/*------------------------------------------------------------------
[27. Section Footer/ #site-footer]
--------------------------------------------------------------------*/
#site-footer {
  background: #212121;
  padding-top: 100px;
}

.open-hours p {
  color: #999999;
  margin-bottom: 17px;
}
.open-hours p span {
  color: rgb(219, 95, 12);
  text-transform: uppercase;
}

.foot-title {
  display: block;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.foot-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 6px;
  height: 6px;
  background-color: rgb(219, 95, 12);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.foot-title:after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 1px;
  width: 29px;
  height: 2px;
  background-color: rgb(219, 95, 12);
}

.footer-copyright {
  padding: 25px 0;
  margin-top: 100px;
  position: relative;
  background: #171717;
}
.footer-copyright p {
  text-align: center;
  color: #999999;
}

.footer-copyright a {
  position: absolute;
  top: -30px;
  right: 30px;
  display: block;
  width: 60px;
  height: 60px;
  background: rgb(219, 95, 12);
  text-indent: -200px;
  overflow: hidden;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.footer-copyright a:after, .footer-copyright a:before {
  content: "";
  display: block;
  background: #fff;
  width: 10px;
  height: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.5px 0 0 -3px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.footer-copyright a:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 24px;
}
.footer-copyright a:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer-copyright a:hover {
  background: #fff;
}
.footer-copyright a:hover:after, .footer-copyright a:hover:before {
  background: rgb(219, 95, 12);
}
